profiling/*
shp_data/*
inst/saved_configs/*
www/*/*.wav
.Rproj.user
.Rhistory
.RData
.Ruserdata
www/tmp.wav
www/tmp_clean.wav
tmp_spec.csv
# {shinytest2}: Ignore new debug snapshots for `$expect_values()`
*_.new.png
rsconnect/*